<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/category-details.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <%- include('../layout/header'); -%>
    <div class="content">
        <h1><%= title %></h1>
        <h2><%= category.name %></h2>
        <div class="button-group">
            <a href="/category/edit/<%= id %>">Edit</a>
            <a href="/category/delete/<%= id %>">Delete</a>
        </div>
        <p class="description"><%= category.description %></p>
        <h2>Products in Category</h2>
        <table>
            <thead>
                <th>Name</th>
                <th>Manufacturer</th>
                <th>Stock</th>
                <th>Price</th>
            </thead>
            <tbody>
                <% if (category.products.length == 0) { %>
                    <tr>
                        <td colspan="4" id="no-listing">This category has no products</td>
                    </tr>
                <% } %>
                <% for(const product of (category.products.length == 0 ? [] : category.products)) { %>
                    <tr>
                        <td><a href="<%= product.url %>"><%= product.name %></a></td>
                        <td><a href="<%= product.manufacturer.url %>"><%= product.manufacturer.name %></a></td>
                        <td><%= product.stock %></td>
                        <td><%= product.price %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <%- include('../layout/footer'); -%>
  </body>
</html>